{
  "extends": [
    "eslint:recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
  ],
  "parserOptions": {
    "ecmaFeatures": {
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "globals": {
    "ymaps": true,
    "Phaser": true,
    "chrome": true,
    "__DEV__": true,
    "__SYNC_API_URL__": true,
    "__VERSION__": true,
    "__DEVICE_ID__": true
  },
  "rules": {
    "no-console": "off",
    "default-case": "error",
    "dot-location": [
      "error",
      "property"
    ],
    "dot-notation": "error",
    "eqeqeq": [
      "error",
      "smart"
    ],
    "no-unused-vars": [
      "warn",
      {
        "ignoreRestSiblings": true
      }
    ],
    "guard-for-in": "error",
    "no-alert": "error",
    "no-caller": "error",
    "no-else-return": "error",
    "no-empty-function": "warn",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implicit-globals": "error",
    "no-implied-eval": "error",
    "no-loop-func": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-native-reassign": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-octal-escape": "error",
    "no-proto": "error",
    "no-script-url": "error",
    "no-sequences": "error",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-escape": "error",
    "no-warning-comments": "warn",
    "no-with": "error",
    "vars-on-top": "warn",
    "wrap-iife": "error",
    "yoda": "error",
    "no-catch-shadow": "error",
    "no-label-var": "error",
    "no-shadow": "error",
    "no-shadow-restricted-names": "error",
    "no-undef": "error",
    "no-undef-init": "error",
    "block-spacing": "error",
    "brace-style": "error",
    "camelcase": "error",
    "comma-spacing": "error",
    "comma-style": "error",
    "computed-property-spacing": "error",
    "consistent-this": [
      "error",
      "self"
    ],
    "eol-last": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "key-spacing": "error",
    "keyword-spacing": "error",
    "max-len": [
      "error",
      120
    ],
    "max-params": [
      "error",
      5
    ],
    "new-cap": "warn",
    "new-parens": "error",
    "newline-before-return": "warn",
    "newline-per-chained-call": "warn",
    "no-array-constructor": "error",
    "no-lonely-if": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-negated-condition": "error",
    "no-nested-ternary": "error",
    "no-new-object": "error",
    "no-restricted-syntax": [
      "error",
      "WithStatement"
    ],
    "no-spaced-func": "error",
    "no-trailing-spaces": "error",
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "object-property-newline": [
      "error",
      {
        "allowMultiplePropertiesPerLine": true
      }
    ],
    "operator-assignment": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "semi-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "space-before-blocks": "error",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "space-in-parens": "error",
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "spaced-comment": "error",
    "arrow-spacing": "error",
    "generator-star-spacing": [
      "error",
      {
        "before": true,
        "after": false
      }
    ],
    "no-duplicate-imports": "error",
    "no-useless-computed-key": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "require-yield": "error",
    "yield-star-spacing": [
      "error",
      {
        "before": true,
        "after": false
      }
    ]
  }
}
